body {
	font-family: Tahoma;
	background: #000;
	margin: 0;
	background-image: url(back.png);
}
h1 {
	cursor: help;
	margin: 0;
	text-transform: uppercase;
	padding-bottom: 5px;
	text-align: center;
}

form {
	margin: 0 auto;
	background: orange;
	width: 415px;
	height: 270px;
	padding: 20px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
.group {
	margin: 10px;
	padding: 5px;
}
label {
	padding-left: 10px;
	text-transform: uppercase;
}
input {
	margin-top: 10px;
	height: 40px;
	width: 400px;
	border-radius: 20px/20px;
	border: none;
	padding-left: 15px;
	font-size: 18px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}

button {
	cursor: pointer;
	padding: 10px 30px;
	height: 50px;
	color: #fff;
	background: #000;
	border: none;
	text-transform: uppercase;
	font-size: 15px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}

.group3 {
    text-align: center;
}

.psw{
	text-align: center;
}

a{
	color: #fff;
}

a:hover{
	text-decoration: none;
   }    
   
    

   
      
   
